body{ background-color:#ff885e;}
.finish_resetPSW{ text-align:center; padding-top:142px;}
.btn_returnToBuy{ background:url(images/arrow@2x.png) no-repeat 0 center; background-size:19px auto; padding-left:25px; color:#5d5b5a; font-size:21px; margin-top:105px; display:inline-block}
.timeout{ width:234px; height:344px; position:absolute; left:50%; top:50%; margin:-172px 0 0 -117px;}
.orderGene{ font-size:24px; color:#fff; text-align:center; position:fixed; left:0; top:0; width:100%; height:100%; background:url(images/fan.png) no-repeat center bottom; background-size:102px auto;}
.orderFont{ display:inline-block; padding:50px 15px 10px;}