body{background-color:#fcfaf5; }
.menu_block{ padding:7px 8px; border-bottom:1px solid #e3e3e3; background-color:#fff;}
.menuD_img{ border-radius:10px; border:1px solid #dfdfdf; width:34%; height:116px; margin-right:10px; overflow:hidden}
.menuD_img img{ float:left;}
.menuD_summary, .menuD_img, .btn_showNum, .btn_plus, .btn_add{ display:inline-block; vertical-align:middle}
.menuD_summary h4{ color:#262626; font-weight:300}
.menuDP{ color:#db3f3f; padding:1px 0 5px}
.dinnerAddPuls{ font-size:13px; color:#6f6f6f; height:22px; display:block; line-height:23px;}
.btn_plus{ margin-left: 2px;}
.btn_plus, .btn_add{ background:url(images/plus@2x.png) no-repeat 0 0; background-size:22px 22px; width:22px; height:22px; display:inline-block}
.btn_plus:active{ background-image:url(images/plusActive@2x.png); background-size:22px 22px;}
.btn_add{ background-image:url(images/add@2x.png); background-size:22px;}
.btn_add:active{ background-image:url(images/addActive@2x%27.png);background-size:22px 22px;}
.btn_showNum{ width:68px; height:20px; border:1px solid #e3e3e3; border-radius:5px; text-align:center; line-height:20px; margin:0 6px;}

.btn_footer{ background:url(images/arrow@2x.png) no-repeat left center; background-size:10px auto; padding-left:15px; font-size:12px; color:#545454;}
.changeArea{ float:left; margin-left:12px}
.btn_submitOrder{ margin-right:7px;}
.dinner_cont{ padding-bottom:55px;}
/* sales dinner */
.manaRecommends{ border-bottom:1px solid #dfdfdf;}
h3{ color:#676767; font-weight:lighter; padding-left:36px; height:40px; line-height:40px; border-bottom:1px solid #dfdfdf;}
.manaRecommends h3{ background:url(images/1@2x.png) no-repeat 8px center; background-size:20px auto;}
.tdySales h3{ background:url(images/2@2x.png) no-repeat 8px center; background-size:20px auto;}
.manaRecom_menu, .tdyS_m_img{ margin:8px;position:relative;}
.manaRecom_menu{ border-radius:5px; overflow:hidden;}
.manaRecom_menu img, .tdyS_m_img img{ float:left;}
.manaRecom_menu ul, .menu_title{ position:absolute; width:100%; bottom:0; left:0; height:32px; line-height:32px; text-align:center; color:#fff; font-size:15px; background-color:rgba(28,28,28,0.4)}
.manaRecom_menu ul li{ width:50%; float:left;}
.borderWidth{ float:; width:1px; height:32px; float:right; background-color:rgba(255,255,255,0.4)}
.tdyS_m_block{ width:46%; height:160px; float:left; border:1px solid #d9d9d9; border-radius:5px; overflow:hidden; margin-bottom:10px; }
.tdyS_m_block:nth-child(2n){ float:right;}
.tdySal_menu{ padding:10px 15px;}
.tdyS_m_img{ margin:0; width:100%; height:100%; float:left}
.moreDinner{ float:left;}
.notInUTSC{ float:right;}
.telephone{ width:150px; height:20px; line-height:20px; border:1px solid #d4d4d4; border-radius:5px; padding:6px; float:left}
.dinnerS_fMain{ padding:0 17px;}
.dSales_btnTo{ padding:0px 19px 61px;}
.btn_nowOrder{ margin-right:0;}