*{ margin: 0; padding: 0;}
a{ text-decoration: none; color:#333; -webkit-tap-highlight-color:rgba(255,0,0,0); -webkit-text-size-adjust:none;}
ul, li{ list-style-type: none;}
.clear{ clear: both; line-height:0; font-size:0;}
cite, i{ font-style: normal;}
body{ background-color:#fff; color:#333; font-family: arial, Microsoft YaHei, Apple LiSung Light; font-size: 14px; line-height: 20px; -webkit-tap-highlight-color:rgba(255,0,0,0); -webkit-user-select:none; -webkit-text-size-adjust:none;}
/************  contenter **************/
.loginBox{ text-align:center; position:absolute; left:0; top:38%; margin-top:-100px; width:100%;}
.logo_area{ padding-bottom:30px;}
.logo_area p{ font-size:15px;}
.select_Campus{ text-align:left; width:80%; margin:12px 0; display:inline-block; padding:5px; height:26px; background-color:#fff; border:1px solid #ccc;}
.btn_login{ margin-top:25px; width:80%; margin:25px auto; padding:0 5px; display:block; height:46px; line-height:46px; text-align:center; color:#fff; background-color:#64A600; font-size:16px;}
.campus{ border:none; background:none; width:100%; height:26px; line-height:26px; background:url(images/H5_downArrow_new.png) no-repeat 96% center;}
/************campus area*****************/
.campus_list{ display:none; text-align:left; position:fixed; width:96%; top:50%; height:400px; margin-top:-200px; left:50%;margin-left:-48%; background:#fff; overflow:hidden; overflow-y:auto; box-shadow:0px 0px 5px rgba(0,0,0,0.5) }
.campus_list li{ text-align:left; height:40px; border-bottom:1px solid #ddd; line-height:40px; padding: 0 10px;}
.campus_list li.selectLi{ font-size:16px; color:#64A600;}