@font-face{
  font-family:luoli;
  src:url('luoli.TTC');
}

*{ margin:0; padding:0;}
a, a img, img{ border:none;}
cite, i{ font-style:normal;}
ul, li{ list-style-type:none;}
a{ color:#666; text-decoration:none;}
.clear{ clear:both;}
body{ font-size:15px; font-family: arial, Microsoft YaHei, Microsoft YaHei, Apple LiSung Light; color:#666;}
/* header */
#Header{ text-align:center; color:#fff; background-color:#ff885f; border-bottom:1px solid #f37c53; line-height:44px; height:44px; font-size:18px;}
#Contenter{ border-top:1px solid #e3e3e3;}

/* btn */
.btn_submitOrder{ width:100px; height:33px; line-height:33px; text-align:center; font-size:14px; color:#fff; background-color:#ff885f; border-radius:5px; float:right; }
/* layer */
.layer{ position:fixed; left:0; top:0; width:100%; height:100%; display:none}
.black_layer{ position:absolute; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5)}
.layer_summary{ width:210px; height:215px; background-color:#fff; width:208px; height:226px; margin:-113px 0 0 -104px; position:absolute; left:50%; top:45%; border-radius:5px; text-align:center;}
.layer_summary p{ color:#de4040; font-size:15px; padding-top:15px;}
.layer_summary p .sorry{ color:#646464; font-size:13px; padding-top:5px; display:block}
.layer_summary ul{ padding:15px 15px 0;}
.layer_summary ul li{ width:100%; height:34px; line-height:34px; text-align:center; color:#fff; font-size:13px; background-color:#ff885f; box-shadow:0px -2px 0px rgba(88,156,184,0.4) inset; border-radius:5px; margin-bottom:15px;}
.layer_summary ul li a{ color:#fff;}
/* media */
@media screen and (min-width:640px){
	body{ width:320px; margin:0 auto; background:#fff; border:1px solid #ccc;}
}