*{ margin:0; padding:0;}
ul, li{ list-style-type:none;}
.wrapper{ overflow:hidden; width:100%; position:relative;}
.wrapper ul{ position:absolute; left:0; top:0;}
.wrapper li { float:left; text-align:center}
.coin, .pagination-n1{ position:absolute; bottom:20px; left:0; width:100%; height:10px; text-align:center; z-index:100}
.coin a, .swiper-pagination-switch { display:inline-block; width:10px; height:10px; background-color:#bcbaba; border-radius:10px; margin:0 5px}
a.currse_coin, .swiper-active-switch{ background-color:#333;}
.btn_GoIn{ background:url(../images/btn_go.png) no-repeat 0 0; background-size:176px auto; width:176px; height:44px; display:block; margin:37px auto 0}
.images01Position{ position:absolute; bottom:40px; left:50%; width:320px; margin-left:-160px;}
.images02Position{ position:absolute; left:50%; top:48%; width:212px; height:415px; margin:-207px 0 0 -106px;}
body{overflow:hidden;}
.img01{ display:block;-webkit-animation: fadeITop .5s  ease-in-out .5s;-webkit-animation-fill-mode :backwards;}
.img02{ display:block;-webkit-animation: fadeITop .5s  ease-in-out 1s;-webkit-animation-fill-mode :backwards;}
.img03{display:block; -webkit-animation: fadeITop .5s  ease-in-out 1.5s;-webkit-animation-fill-mode :backwards;}
@-webkit-keyframes fadeITop{0%{opacity:0;-webkit-transform:translateY(-30px)}100%{opacity:1;-webkit-transform:translateY(0)}}